In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv("telescope_data.csv")
cols = df.columns
tel_data = df.rename(columns=str.lower)
ds_train, ds_test = train_test_split(tel_data, test_size=0.2)
input_ds_train = ds_train.drop(columns=["class"])
out_ds_train = ds_train["class"]

input_ds_test = ds_test.drop(columns=["class"])
out_ds_test = ds_test["class"]

# len(out_ds_train[out_ds_train["class"] == "h"])
# len(out_ds_train[out_ds_train["class"] == "g"])
len(out_ds_train[out_ds_train == 'h'])
len(out_ds_train[out_ds_train == 'g'])
# out_ds_train.columns

9873

In [57]:
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
# Standard scalar will ensure that each row has same level of data. previously some columns are 87, 90 and others are in decimal points.
# Now all the columns will be transformed to decimal
# input_ds_train = scalar.fit_transform(input_ds_train)

# with 'h' class ,number of records are low ,so prediction for hadron would be hard as it has less data. 
# To avoid that we do resample
r_sam = RandomOverSampler()
input_ds_train, out_ds_train = r_sam.fit_resample(input_ds_train,out_ds_train)
print(len(out_ds_train))
print(len(out_ds_train[out_ds_train == 'g']))
print(len(out_ds_train[out_ds_train == 'h']))

19746
9873
9873

In [58]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn_model = KNeighborsClassifier(n_neighbors=1)

knn_model.fit(input_ds_train,out_ds_train)
# predicted_result = knn_model.predict(input_ds_test)

accuracy_info = accuracy_score(out_ds_test,predicted_result)
accuracy_info

0.999211356466877

In [59]:
input_ds_test

,unnamed: 0,flength,fwidth,fsize,fconc,fconc1,fasym,fm3long,fm3trans,falpha,fdist
17338,17338,46.7412,17.5755,2.9085,0.2545,0.1477,-46.5172,-32.4009,14.3317,71.3214,147.1831
8879,8879,75.0465,22.0343,3.1343,0.2224,0.1229,-64.9762,62.2713,-17.4064,7.7575,276.4700
833,833,77.6846,25.5809,3.5455,0.1851,0.0992,70.9997,73.0712,18.2497,3.1860,251.2910
1599,1599,70.8315,22.3982,3.3197,0.2227,0.1252,81.8166,69.0231,19.2635,10.3850,248.9830
5238,5238,25.9304,18.1375,2.5711,0.5074,0.2671,-19.2751,8.9500,15.6828,16.0581,165.2920
...,...,...,...,...,...,...,...,...,...,...,...
10378,10378,26.4641,9.3851,2.3608,0.5272,0.2767,32.2853,18.7226,-5.9279,8.4593,136.3670
17739,17739,211.8697,57.7383,3.1707,0.2270,0.0905,70.5678,238.3210,-37.9080,65.2246,109.4099
413,413,62.3261,18.0596,2.7574,0.3217,0.1705,60.5019,49.8049,7.7899,73.9247,122.6130
8777,8777,113.1640,35.6880,2.9645,0.1812,0.0917,103.1080,55.7080,20.9744,8.8474,234.2290
13337,13337,115.9424,73.9646,3.1556,0.2530,0.1433,88.7017,118.0635,33.6021,17.4339,162.7646

In [60]:
out_ds_test

17338    h
8879     g
833      g
1599     g
5238     g
        ..
10378    g
17739    h
413      g
8777     g
13337    h
Name: class, Length: 3804, dtype: object

In [67]:
knn_model.predict(input_ds_test.head(3))

array(['h', 'g', 'g'], dtype=object)