In [2]:
print("Hello")

Hello

In [1]:
import pandas as pd
pd.read_csv("Movie Interests.csv")

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [8]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

movie_data = pd.read_csv("Downloads/Movie Interests.csv")
dt = DecisionTreeClassifier()
input_dataset = movie_data.drop(columns=["Interest"])
input_dataset
out_dataset = movie_data["Interest"]
out_dataset

train_data = dt.fit(input_dataset,out_dataset)
# 9 year old gender 1 will be interested in animation
# 32 year old gender 0 will be interested in drama movie
dt.predict([[9,1],[32,0]])

C:\Users\jebarajs\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Animation', 'Drama'], dtype=object)

In [12]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split


dt = DecisionTreeClassifier()
input_dataset = movie_data.drop(columns=["Interest"])
input_dataset
out_dataset = movie_data["Interest"]
out_dataset
input_train,input_test,out_train,out_test = train_test_split(input_dataset,out_dataset, test_size= 0.2)
movie_model = dt.fit(input_train,out_train)
dt.predict(input_test)
input_test

    Age  Gender
12   26       0
13   27       0
7    26       1
5    19       1

In [13]:
dt.predict(input_test)

array(['Action', 'Action', 'Drama', 'Action'], dtype=object)

In [14]:
out_test

12    Action
13    Action
7      Drama
5     Action
Name: Interest, dtype: object

In [15]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

movie_data = pd.read_csv("Movie Interests.csv")
dt = DecisionTreeClassifier()
input_dataset = movie_data.drop(columns=["Interest"])
input_dataset
out_dataset = movie_data["Interest"]
out_dataset
input_train,input_test,out_train,out_test = train_test_split(input_dataset,out_dataset, test_size= 0.2)
movie_model = dt.fit(input_train,out_train)
# Store the trained model 
joblib.dump(movie_model,"Movie-interest-identifier")

['Movie-interest-identifier']

In [17]:
# Use the trained model and then predict
model_movie = joblib.load("Movie-interest-identifier")
# predicted_result = model_movie.predict([[5,1],[24,0]])
predicted_result = model_movie.predict(input_test)
predicted_result
accuracy_score(out_test,predicted_result)

1.0